body {
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}
.bienvenue {
  font-weight: 900;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}
.coordonnees,
.operation,
.messagerie,
.contact,
.important,
.urgent .formulaire {
  border: 2px solid black;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fff;
}
.urgent {
  border: 3px dashed red;
  animation: clignoter 1s infinite;
}
.maison {
  border: 1px solid black;
  background-color: rgb(105, 224, 245);
  padding: 5px;
  border-radius: 4px;
}
@keyframes clignoter {
  0%,
  50%,
  100% {
    border-color: red;
  }
  25%,
  75% {
    border-color: transparent;
  }
}
.header-right .header-info span {
  font-weight: normal;
  color: black;
  margin-left: 15px;
}
nav a {
  border: 1px solid black;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: black;
  padding: 10px;
  display: block;
  text-align: center;
  margin-bottom: 2px;
}
